# Database credentials
DB_DATABASE=
DB_USER=
DB_PASSWORD=

#connect url
CONNECTION_URI=

#api data
PORT=
HOST=

# Frontend URLs for CORS
WEB_END_URL=
CMS_END_URL=

# JWT Properties
ACCESS_SECRET_KEY=
REFRESH_SECRET_KEY=
ACCESS_EXPIRE_TIME=
REFRESH_EXPIRE_TIME=