@use "./variables" as *;
@use "./reset";

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    //font-family: $font-primary;
    background-color: var(--cms-bg-main);
    // color: var(--text-primary);
    color: var(--cms-text-main);
    position: relative;
    letter-spacing: 0;

    // line-height: $lh-base;
    //font-weight: $fw-regular;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}
